* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, Helvetica Neue, sans-serif, serif;
  color: #111111;
  background-color: #fbfde0;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  width: 60%;
  margin-top: 3rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Lilita One', sans-serif, serif;
  letter-spacing: .7px;
  color: #ffffff;
  background-color: #111111;
}